.sku {
	text-align: right;
	font-family: "Segoe UI";
	font-size: x-small;
}
.product-name {
	text-align: center;
	font-family: "Segoe UI";
	font-size: 16px;
	font-weight: bold;
}
.product-description {
	text-align: center;
	font-family: "Segoe UI";
	font-size: var(--lwc-squareIconMediumContent, 0.75rem);
	font-weight: var(--lwc-fontWeightRegular, 400);
	height: 600px;
}
.unit-price {
	text-align: center;
	font-family: "Segoe UI";
	font-size: 28px;
	font-weight: var(--lwc-fontWeightRegular, 600);
}
.add-icon {
	transform: rotate(45deg);
	--slds-c-icon-color-foreground-default: gray;
	--slds-c-icon-color-background: white;
}
.remove-icon {
	--slds-c-icon-color-foreground-default: gray;
	--slds-c-icon-color-background: white;
}
.card-shadow {
	box-shadow: var(--slds-c-card-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.1));
	max-height: 185px;
	min-height: 185px;
	display: flex;
	flex-direction: column;
}
.quantity {
	font-family: "Segoe UI";
	font-size: 16px;
}
.add-to-cart {
	border-color: #ee2a24;
	color: #ee2a24;
	text-align: center;
	font-size: 14px;
}
.help-text {
	float: right;
	margin-left: auto;
	margin-right: 0;
	--slds-c-icon-color-foreground: #ee2a24;
	--slds-c-icon-color-foreground-default: #ee2a24;
}
.img-style {
	max-height: 125px;
	min-height: 125px;
	object-fit: contain;
}
.figs {
	bottom: spacingNone;
	margin: auto;
}