.THIS .iconn-asset-not-avail, .THIS .iconn-asset-not-avail:hover {
    background-color: #BEBEBE !important;
}

.THIS #avail-assets-sub-label {
    font-size: 12px;
}

.THIS #clear-selection-modal {
    max-width: 400px;
    width: 400px;
}

.THIS #modal-content-id-3 {
    text-align: center;
}