<!-- Asset Recommended Products -->
<template>
    <lightning-spinner class="slds-text-align_center" if:true={loading}></lightning-spinner>

    <lightning-button if:true={userHasPermission} variant="brand" label="View Recommended Parts"
                      onclick={handleOnclick}
                      class="slds-m-left_x-small slds-float_right"
                      style="top: 19.5px; position: relative"></lightning-button>
</template>