<template>
    <div class="slds-float_right basket-icon" if:true={userHasPermission}>
        <lightning-button-icon icon-name="utility:cart"  variant="bare" size="large" alternative-text="cart" onclick={handleNavigate} ></lightning-button-icon>
        <lightning-badge label={totalInCart} class="slds-badge_inverse" style = "position:relative; bottom:10px;"></lightning-badge>
    </div>
</template>