<template>
    <ul class="slds-has-dividers_around-space dropZone" 
    ondrop={handleDrop}
    ondragover={handleDragOver}
    style="min-height: 20px; overflow-x:auto;">
    <template if:true={recordExists}>
        <template for:each={records} for:item="recordItem"> 
            <c-s-f-s_-agreement-matrix-card1 month={month} year ={year} record={recordItem} asset={asset} asset-id={assetId} massets={massets}
                    key={recordItem.Id}
                    onitemdrag={handleItemDrag}
                    oncreate={handleReload}>
            </c-s-f-s_-agreement-matrix-card1>
        </template>
    </template>
    <template if:false={outOfAgreementPeriod}>
        <template if:false={recordExists}>
            <template if:false={isClicked}>
                <lightning-button-icon icon-name="utility:record_create" variant="bare" alternative-text="record create" class="slds-m-left_xx-small" title="Record Create" onclick={callCreate}></lightning-button-icon>
            </template>     
            <template if:true={isClicked}>
                <template if:true={displaySave}>
                    <lightning-button-icon icon-name="utility:save" alternative-text="Save" class="slds-m-left_xx-small" title="Save" onclick={createRecord}>
                    </lightning-button-icon>
                </template>
                <div class="slds-form-element" style="width:50px">
                    <lightning-input variant="label-hidden" onchange={handleNewWorkScope}  maxlength="2"></lightning-input>
                </div>
                </template>
        </template>
    </template>
    </ul>
</template>