.THIS{}

.THIS .header{
    height:15%!important;
    background-color:#f7f9fb;
    width:100%!important;
    border-top:1px solid #98a6bb;
}
.THIS .body{
    height:85%!important;
    width:92%;
    margin:1% 4%;
}
.THIS .container{
    min-height:30vh;
    height:26%!important;
    width:100%;
    margin: 5% 2%;
}

@-webkit-keyframes activated {
    0% {
        background-color: #f69635;
        opacity: 1;
    }
    22% {
        background-color: #f69630;
    }
    77% {
        background-color: #f69600;
    }
    100% {
        background-color: transparent;
    }
}

.THIS .active {
    -webkit-animation-name: activated;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: activated;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
}

.THIS .lightningInputSelect label, .THIS .lightningInputText label {
    display:none;
}