.slds-item {
    border: 0px solid #d8dde6;
    border-radius: 0.25rem;
    background-clip: padding-box;
    margin: 0.25rem;
    word-wrap: break-word;
    
}
.wrapped-content{
    word-wrap: break-word;
}
.input{
    border: 0;
}