<template>
    <template if:true={isSameMonth}>
      <li class="slds-item slds-var-m-around_xx-small" draggable="true" ondragstart={itemDragStart}>
       <article class="slds-tile slds-tile_board">
           <template if:true={record.locked}>
               <div class=" slds-float_right slds-var-m-left_x-small">
                <lightning-icon icon-name="utility:lock" alternative-text="Locked" title="locked" 
                size="xx-small">
                </lightning-icon>
               </div>
           </template>
           <template if:true={displaySave}>
            <lightning-button-icon icon-name="utility:save" alternative-text="Save" class="slds-m-left_xx-small" title="Save" onclick={saveWorkScope}>
            </lightning-button-icon>
        </template>
            <div class="slds-form-element" style="width:45px">
                <lightning-input variant="label-hidden" value={record.SFS_Work_Scope__c} read-only={record.locked} maxlength="2" onchange={handleChange}></lightning-input>
            </div>
       </article>
   </li>
</template>
</template>