h2,
h3 {
	text-align: center;
	font-family: "Segoe UI";
}
.asset-name {
	font-family: "Segoe UI";
	font-size: var(--lwc-squareIconMediumContent, 1rem);
	font-weight: var(--lwc-fontWeightRegular, 400);
}
.product-name {
	text-align: center;
	font-family: "Segoe UI";
	font-size: var(--lwc-squareIconMediumContent, 1.2rem);
	font-weight: var(--lwc-fontWeightRegular, 600);
}
h3 {
	font-size: var(--lwc-squareIconMediumContent, 0.75rem);
	font-weight: lighter;
	font-family: "Segoe UI";
}
.modal-body {
	font-family: "Segoe UI" !important ;
}
.img-style {
	max-width: 100%;
	max-height: 250px;
	min-height: 250px;
}
.card-shadow {
	box-shadow: var(--slds-c-card-shadow, 0 2px 2px 0 rgba(0, 0, 0, 0.1));
}
.filter-box {
	font-family: "Segoe UI";
	border-color: #ee2a24;
}
.help-text {
	font-family: "Segoe UI";
	float: right;
	vertical-align: top;
	--slds-c-icon-color-foreground-default: gray;
	--slds-c-icon-color-background: white;
}
.combobox-label {
	font-family: "Segoe UI";
	font-size: var(--lwc-squareIconMediumContent, 0.75rem);
	font-weight: var(--lwc-fontWeightRegular, 400);
}
.add-font {
	font-family: "Segoe UI" !important ;
}