<!-- sldsValidatorIgnore -->
<template>
	<!--lightning-modal-header></lightning-modal-header-->
	<lightning-modal-body class="slds-p-around_x-small modal-body">
		<div class="c-container">
			<!--template if:false={loaded}>
				<lightning-spinner alternative-text="Loading"></lightning-spinner>
			</template-->
			<lightning-layout multiple-rows="true" class="slds-var-p-around_x-small slds-var-b-bottom-medium slds-border_bottom">
				<lightning-layout-item size="12" class="slds-var-p-around_xxx-small">
					<h2 class="">{labels.RECOMMENDED_PARTS}</h2>
					<h3 class="">{labels.RECOMMENDATION_GUIDE}</h3>
				</lightning-layout-item>
				<lightning-layout-item size="12" class="slds-card_boundary slds-var-m-around_x-small slds-var-p-around_x-small card-shadow">
					<lightning-layout>
						<lightning-layout-item size="4" class="slds-var-p-around_x-small slds-border_right">
							<div class="slds-var-p-around_x-small">
								<img src={irLogoUrl} />
							</div>
						</lightning-layout-item>
						<lightning-layout-item size="8" class="slds-var-p-around_x-small">
							<p class="slds-var-p-horizontal_small asset-name">{assetDetail.asset.Asset_Name_Displayed__c}</p>
							<p class="slds-var-p-horizontal_small">{labels.SERIAL_NUMBER} {assetDetail.asset.SerialNumber}</p>
							<p class="slds-var-p-horizontal_small">{labels.MODEL_NUMBER} {assetDetail.asset.Model_Name__c}</p>
						</lightning-layout-item>
					</lightning-layout>
				</lightning-layout-item>
				<lightning-layout-item size="12" class="slds-card_boundary slds-var-m-around_x-small slds-var-p-around_x-small card-shadow filter-box">
					<lightning-layout multiple-rows="true">
						<lightning-layout-item size="12" class="slds-var-p-around_x-small">
							<h3 class="">{labels.FILTER_HELP_TEXT}</h3>
						</lightning-layout-item>
						<lightning-layout-item size="6" class="slds-var-p-around_x-small">
							<lightning-layout multiple-rows="true">
								<lightning-layout-item size="12" class="">
									<div>
										<span class="combobox-label slds-form-element__label">{compressorAirFilterLabel}</span>
										<lightning-button-icon
											icon-name="utility:info"
											class="help-text"
											title="Settings"
											size="medium"
											variant="bare"
											tooltip={compressorAirFilterHelpText}
											alternative-text={compressorAirFilterHelpText}
										></lightning-button-icon>
										<!--lightning-helptext content={inletFilterHelpText} class="help-text"> </lightning-helptext-->
										<!--span class="slds-float_right">
											<div class="add-icon">
												<lightning-icon icon-name="utility:clear" alternative-text="add" size="small"></lightning-icon>
											</div>
										</span-->
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" class="">
									<lightning-combobox
										variant="label-hidden"
										name="progress"
										value={compressorAirFilterValue}
										options={compressorAirFilterOptions}
										onchange={handleCompressorAirFilterChange}
									></lightning-combobox>
								</lightning-layout-item>
							</lightning-layout>
						</lightning-layout-item>
						<lightning-layout-item size="6" class="slds-var-p-around_x-small">
							<lightning-layout multiple-rows="true">
								<lightning-layout-item size="12" class="">
									<div>
										<span class="combobox-label slds-form-element__label">{maintenanceIntervalLabel}</span>
										<lightning-button-icon
											icon-name="utility:info"
											class="help-text"
											title="Settings"
											size="medium"
											variant="bare"
											tooltip={maintenanceIntervalHelpText}
											alternative-text={maintenanceIntervalHelpText}
										></lightning-button-icon>
										<!--lightning-helptext content={maintenanceIntervalHelpText} class="help-text"></lightning-helptext-->
									</div>
								</lightning-layout-item>
								<lightning-layout-item size="12" class="">
									<lightning-combobox
										variant="label-hidden"
										name="maintenanceInterval"
										value={maintenanceIntervalValue}
										options={maintenanceIntervalOptions}
										onchange={handleMaintenanceIntervalChange}
									></lightning-combobox>
								</lightning-layout-item>
							</lightning-layout>
						</lightning-layout-item>
						<lightning-layout-item size="2" class="slds-var-p-around_x-small slds-text-align_right add-font" alignment-bump="left">
							<lightning-button variant="brand-outline" label={labels.CLEAR_FILTER} onclick={clearFilter} class="add-font"></lightning-button>
						</lightning-layout-item>
					</lightning-layout>
				</lightning-layout-item>
			</lightning-layout>
			<lightning-layout class="slds-var-p-around_x-small slds-var-b-top-medium">
				<template iterator:it={filteredCrossSellProductsList}>
					<template lwc:if={it.last}>
						<lightning-layout-item
							flexibility="auto"
							size={columnSize}
							class="slds-p-horizontal_x-small slds-var-b-around-small"
							key={it.value.recId}
						>
							<c-recommended-product-detail cross-sell-item={it.value}></c-recommended-product-detail>
						</lightning-layout-item>
					</template>
					<template lwc:else>
						<lightning-layout-item
							flexibility="auto"
							size={columnSize}
							class="slds-p-horizontal_x-small slds-var-b-around-small slds-border_right"
							key={it.value.recId}
						>
							<c-recommended-product-detail cross-sell-item={it.value}></c-recommended-product-detail>
						</lightning-layout-item>
					</template>
				</template>
			</lightning-layout>
		</div>
	</lightning-modal-body>
</template>