.card_wrapper{
    padding: 0.5rem;
    justify-content: space-around;
    background: #fff;
}
.year_heading{
    padding: 0.5rem 0.25rem;
    font-size: 16px;
    background: #676a6e;
    color: #fff;
    text-align: center;
}
.month_wrapper{
    display: flex;
    padding: 0.5rem 0.25rem;
    background: #fff;
}
.asset_card_wrapper{
    padding: 0.25rem;
    display:flex;
    justify-content: space-around;
    background: #fff;
}
.month_heading{
    padding: 0.5rem 0.25rem;
    font-size: 16px;
    background: #005fb2;
    color: #fff;
    width: 110px;
}
.asset_column_heading{
    padding: 0.5rem 0.25rem;
    font-size: 16px;
    background: #005fb2;
    color: #fff;
    width:100px;
    word-wrap: break-word;
    text-align: center;
    float:left;
    border: 2px solid #d8dde6;
    margin: 0.05rem;
    border-radius: .25rem;
}
.stageContainer{
    float:left;
    border: 2px solid #d8dde6;
    margin: 0.05rem;
    text-align: center;
    border-radius: .25rem;
}
.column_heading{
    padding: 0.5rem 0.25rem;
    font-size: 16px;
    background: #005fb2;
    color: #fff;
}