<template>
    <div if:true={isLoading}>
        <lightning-spinner
            alternative-text="Loading..." variant="brand" class="slds-is-fixed">
        </lightning-spinner>
    </div>
    <template if:true={dataExists}>
        <div class=" slds-float_right">
            <lightning-button-icon  icon-name="utility:refresh"  slot="actions" alternative-text="Refresh" class=" slds-float_right slds-p-around_xx-small" onclick={handleReload}></lightning-button-icon>
        </div>
        <template if:true={loadCmp}>
        <div class="slds-scrollable_x">
        <template for:each={assetRecords} for:item="record">
            <div class="card_wrapper" key={record.Id}>
                <h1 class="year_heading">{record.Name}</h1> 
                <div class="asset_card_wrapper">
                    <template for:each={months} for:item="Mon">
                            <h1 key={Mon.Name} class="asset_column_heading" >{Mon.Name}</h1>
                </template>
                </div>
                <template for:each={Years} for:item="year">
                    <div class="asset_card_wrapper" key={year}>
                        <h1 class="asset_column_heading">{year}</h1>
                        <template for:each={allMonths} for:item="Mon">
                            <div class="stageContainer" key={Mon.Name} style={calcWidth}>
                                <c-s-f-s_-agreement-matrix-list1 records={records} month={Mon.Name} year = {year} asset={record.Name} asset-id={record.Id} massets={maintenanceAssets} 
                                onitemdrag={handleItemDrag}
                                onitemdrop={handleItemDrop}
                                oncreate={handleReload}>
                                </c-s-f-s_-agreement-matrix-list1>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </template>
        <!--template for:each={Years} for:item="year">
            <div class="card_wrapper" key={year}>
                <h1 class="year_heading">{year}</h1> 
                <template for:each={assetRecords} for:item="record">
                    <div class="asset_card_wrapper" key={record.Id}>
                        <h1 class="asset_column_heading">{record.Name}</h1>
                        <template for:each={allMonths} for:item="Mon">
                            <div class="stageContainer" key={Mon.Name} style={calcWidth}>
                                <h1 class="column_heading">{Mon.Name}</h1>
                                <c-s-f-s_-agreement-matrix-list1 records={records} month={Mon.Name} year = {year} asset={record.Name} asset-id={record.Id} massets={maintenanceAssets} 
                                onitemdrag={handleItemDrag}
                                onitemdrop={handleItemDrop}
                                oncreate={handleReload}>
                                </c-s-f-s_-agreement-matrix-list1>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </template-->
        </div>
    </template>
</template>
</template>