<!--
    @File Name        : SFS_CreateUpdateAddress_LWC.html
    @Description      : allow user to created/udpate address from location screen
    @Author           : Bhargavi Nerella
-->
<template>
    
    <div class="spinner">
        <template if:true={isLoading}>
            <lightning-spinner alternative-text="Loading.." variant="brand" size="large">
            </lightning-spinner>
        </template>
    </div>
    
    <lightning-record-edit-form
        object-api-name={objectName}
        record-id={addressId}
        onload={handleLoad}
        onsuccess={handleSuccess}
        onsubmit={handleSubmit}
        onerror={handleError}> 
        
        <div class="slds-grid slds-wrap">
         
        <div class="slds-col slds-size_1-of-1">   
            <lightning-input-field field-name="ParentId" value={recordId}></lightning-input-field>
        </div>   
        <div class="slds-col slds-size_1-of-1">
            <lightning-input-field field-name="Address"></lightning-input-field>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-p-right_xx-small">
            <lightning-textarea value={building} 
                                label="Building" 
                                max-length="20"
                                onchange={assignBuilding}>
            </lightning-textarea>
        </div>    
        <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 slds-medium-size_1-of-2 slds-p-right_xx-small">
            <lightning-textarea value={room} 
                                label="Room" 
                                max-length="10"
                                onchange={assignRoom}>
            </lightning-textarea>
        </div>
           
        </div>

        <div class="slds-var-m-top_medium slds-align_absolute-center">
            <lightning-button class="slds-var-m-top_small" variant="brand" type="submit" label="Save"></lightning-button>
            <lightning-button class="slds-var-m-top_small slds-var-p-left_xx-small" variant="brand"  label="Cancel" onclick={handleCancel}></lightning-button>
        </div>      
    </lightning-record-edit-form>   
</template>