.THIS .slds-table tr > :first-child
{
    /* display:none!important; */
}

.THIS .wideBox {
    min-height: 500px!important;
}

.THIS .slds-is-edited
{
    background-color:rgb(236, 235, 234)!important;
}
.THIS .hideActionButton button{
    display:none;
}