<template>
  <div class="slds-card slds-card_narrow">
  <lightning-accordion active-section-name="P" allow-multiple-sections-open="true">
    <lightning-accordion-section name="P" label="Frequently Used Parts ">
  <lightning-card
    variant="Narrow"
    title="Parts List"
    class="app"
    icon-name="custom:custom13"
  >

    <lightning-button
      slot="actions"
      label="Add Row"
      onclick={showModal}
    ></lightning-button>
    <lightning-button
      slot="actions"
      label="Edit"
      onclick={editTable}
    ></lightning-button>
    <template if:false={hideSave}>
      <lightning-button
        id="saveButton"
        slot="actions"
        label="Save"
        onclick={saveRecord}
      ></lightning-button>
    </template>
    <div class="slds-card__body slds-card__body_inner">
      <div class="slds-scrollable_x">
        <table
          class="slds-table slds-table_bordered slds-table_cell-buffer slds-var-m-bottom_large"
        >
          <thead>
            <tr class="slds-text-title_caps">
              <th scope="col">
                <div class="slds-truncate" title="Part">Part Number</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Description">Description</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Quantity">Quantity</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Qty Next Visit">
                  Qty Next Visit
                </div>
              </th>
              <th scope="col" colspan="9">
                <div
                  class="slds-truncate"
                  style="text-align: center"
                  title="Work Scopes"
                >
                  Work Scopes
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Last Changed Date">
                  Last Changed Date
                </div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="Action">Action</div>
              </th>
            </tr>
            <tr class="slds-text-title_caps">
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th scope="col">
                <div class="slds-truncate" title="1">1</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="2">2</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="4">4</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="6">6</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="8">8</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="12">12</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="16">16</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="24">24</div>
              </th>
              <th scope="col">
                <div class="slds-truncate" title="48">48</div>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <template for:each={allRecords} for:item="data" for:index="indx">
              <template if:true={data.displayRow}>
                <tr key={data.rowId} id={indx}>
                  <td>
                    <lightning-input
                      variant="label-hidden"
                      data-id={indx}
                      label="Product"
                      value={data.productName}
                      onchange={handleChange}
                      read-only
                    ></lightning-input>
                  </td>

                  <td>
                    <lightning-input
                      variant="label-hidden"
                      data-id={indx}
                      label="Description"
                      value={data.productDescription}
                      onchange={handleChange}
                      read-only
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      variant="label-hidden"
                      data-id={indx}
                      label="Quantity"
                      value={data.quantity}
                      onchange={handleChange}
                      read-only
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      variant="label-hidden"
                      data-id={indx}
                      label="Qty Next visit"
                      value={data.qtyNextvisit}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="1"
                      checked={data.workScope1}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="2"
                      checked={data.workScope2}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="4"
                      checked={data.workScope4}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="6"
                      checked={data.workScope6}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="8"
                      checked={data.workScope8}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="12"
                      checked={data.workScope12}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="16"
                      checked={data.workScope16}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="24"
                      checked={data.workScope24}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      type="checkbox"
                      variant="label-hidden"
                      label="48"
                      checked={data.workScope48}
                      data-id={indx}
                      onchange={handleChange}
                      disabled={disabled}
                    ></lightning-input>
                  </td>
                  <td>
                    <lightning-input
                      variant="label-hidden"
                      data-id={indx}
                      label="Last Changed Date"
                      value={data.consumableDate}
                      onchange={handleChange}
                      read-only
                    ></lightning-input>
                  </td>

                  <td>
                    <lightning-button-icon
                      icon-name="utility:delete"
                      data-id={data.productId}
                      alternative-text="Delete"
                      class="slds-m-left_xx-small"
                      onclick={removeRow}
                      title="Delete"
                    ></lightning-button-icon>
                  </td>
                </tr>
              </template>
            </template>
          </tbody>
        </table>
      </div>
    </div>
    
  </lightning-card>
</lightning-accordion-section>
</lightning-accordion>
</div>
  <template if:true={openModal}>
    <div class="slds-modal slds-fade-in-open slds-backdrop partsModal" >
      <div class="slds-modal__container" >
        <div class="slds-modal__header">
          <lightning-button-icon
            icon-name="utility:close"
            alternative-text="Close this window"
            size="large"
            variant="bare-inverse"
            onclick={closeModal}
            class="slds-modal__close"
          >
          </lightning-button-icon>
          <h2>Parts Detail</h2>
        </div>
        <div class="slds-modal__content slds-p-around_medium" >
          <div style="height: 60em;">
          <template if:true={showMessage}>
            <h2>The Selected Part can't be added to Parts List as it exists</h2>
          </template>
          <template if:false={showMessage}>
            <lightning-record-edit-form
              object-api-name="CAP_IR_Asset_Part_Required__c"
              onsubmit={handleSubmit}
            >
              <lightning-messages> </lightning-messages>
             
              <label for="fieldid">Part</label>             
              <lightning-input-field
                id="fieldid"
                field-name="Product__c"
                variant="label-hidden"
              >
              </lightning-input-field>
            
<!--                
              <c-lookup-component-lwc
                lookup-label="Part"
                object-api-name="Product2"
                selected-record-id={selectedProduct}
                icon-name="standard:product"
                returnfields="['Name','Description','ProductCode','SFS_Product_Code__c']"
                queryfields="['ProductCode', 'Name']"
                parent-obj-id=""
                parent-obj-id-field-name=""
                onrecordselection={onLookupSelection}
                disabledlookup="false"
              >
              </c-lookup-component-lwc>
                -->
              <lightning-input-field field-name="SFS_Quantity__c">
              </lightning-input-field>
              <lightning-button label="Save" type="submit" variant="brand">
              </lightning-button>
            </lightning-record-edit-form>
          </template>
        </div>
        </div>
      </div>
    </div>
  </template>
</template>