.THIS .errorClass {
    font-weight: bold;
    font-size: 12px;
    color: red;
}

.THIS .successClass {
    font-weight: bold;
    font-size: 12px;
    color: green;
}

.THIS .normalClass {
    font-weight: bold;
    font-size: 12px;
    color: black;
}