.THIS {
}

.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}

.THIS .required {
    color: red;
}

.THIS .page-title {
    font-size: 20px;
    font-weight: bold;
}

.THIS .section-header {
    font-size: 18px;
    font-weight: bold;
}

.THIS .expenses-text {
    font-style: italic;
}

.THIS .expenses-warning {
    color: red;
    font-style: bold;
}