<apex:page standardController="Account" recordSetvar="unused" extensions="Ast.AstreaObjectsCloneCtr"  sidebar="false">
    <apex:form >
        <apex:pageBlock >
            <b>{!$Label.ast__list_of_newly_created_records} : </b>
            <apex:image value="/img/alohaSkin/help_orange.png" title="{!$Label.ast__list_of_newly_created_records_help}" width="13px" height="13px"/>

            <br/><br/>
            
            <apex:dataList value="{!resultAccounts}" var="r">
                {!objectname} {!r.counter} : &nbsp;
                <apex:outputLink value="/{!r.AccId}"> 
                    <b><apex:outputText value="{!r.accName}" /></b>
                </apex:outputLink>
            </apex:dataList><br/>
            
            <center><apex:commandButton action="{!BackToRecordfromStatus}" value="{!$Label.ast__close}"/></center>
        </apex:pageBlock>
     </apex:form>
</apex:page>