<apex:page controller="Ast.AstreaObjectCloneCtr" id="astrea_ClonePage" sidebar="false">
<head>
<c:overlay style="processing" />
</head>
<style type="text/css">
        .custPopup{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 500px;
            margin-left: -250px;
            top:100px;
        }
        .popupBackground{
            background-color:black;
            opacity: 0.10;
            filter: alpha(opacity = 10);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
 
            <script type="text/javascript">   
               
               function unCheckAll(){
                    //Uncheck all checkboxes
                    for (i = 0; i < document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList').rows.length; i++)
                    {
                        //Set CheckArray to empty
                        if (!document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList:' + i).disabled)
                            document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList:' + i).checked = false;
                    }
               }   
               
               function CheckAll(){
                    //check all checkboxes
                    for (i = 0; i < document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList').rows.length; i++)
                    {
                        //Set CheckArray to empty
                        if (!document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList:' + i).disabled)
                            document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList:' + i).checked = true;
                    }
               }       
               function getSelectedItemCount(){
                    //Reinitialize the counter
                    checkedCount = 0;
                    
                    for (i = 0; i < document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList').rows.length; i++)
                    {
                        //Is checkbox checked?
                        if (document.getElementById('astrea_ClonePage:AstreaCloneForm:SelectChildren:SelectedChildList:' + i).checked)
                        {
                            //Increment counter                         
                            checkedCount = checkedCount + 1;
                        }          
                    }
                    return checkedCount; 
               }
               
               function allowClone(){
               
                   if( OkToClone()){
                       if(confirm('{!$Label.ast__sure_you_want_to_clone_this_record}')){
                           document.getElementById("astrea_ClonePage:AstreaCloneForm:Flag").value=true;
                       }
                   } else return false;
               }
               
               
               function allowRule(){
                   if(confirm('{!$Label.ast__sure_you_want_to_save_rule}')){
                       document.getElementById("astrea_ClonePage:AstreaCloneForm:SpecifyFields:rFlag").value=true;
                       
                   } else return false;
               }
               
               function IsOverMax(){
                    var MAX_OBJECTS = 9;
                    var CheckedCount = getSelectedItemCount();
                    
                    //Under the Max?
                    if (CheckedCount > MAX_OBJECTS){                                                       
                        return true;
                    } 
                    else{
                        return false;
                    }         
               }
                
               function OkToSelect(aObject, aShowError){
                    if (IsOverMax() == false){
                        return true;
                    }
                    else{
                        if (aShowError == true)
                            alert('{!$Label.ast__maximum_child_objects_selected_9}');
                        aObject.checked = false;
                        return false;
                    }
                }
                
                function SetRecordValue(){
                   document.getElementById("astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection1:SetRecord").value=false;
                   if( OkToClone()){
                       document.getElementById("astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection1:SetRecord").value=true;
                   } else return false;
                }
               
                
                function OkToClone(){
                    var MAX_CLONES = 100;
                    
                    //var pattrn=new RegExp('[a-zA-Z]+');
                    var p = new RegExp('^(0)$|^([1-9][0-9]*)$');
                   
                    if((document.getElementById('astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection:AstreaCloneNumber').value)=="0"){             
                        alert('{!$Label.ast__positive_numeric_value_in_the_no_of_clones_section}');
                        return false;
                    }
                    
                    if((document.getElementById('astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection:AstreaCloneNumber').value)=="")
                    {   alert('{!$Label.ast__no_of_clones_section_cannot_be_left_blank}');
                        return false;
                    }
                    
                    if(!(p.test(document.getElementById('astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection:AstreaCloneNumber').value)))
                    {
                       alert('{!$Label.ast__positive_numeric_value_in_the_no_of_clones_section}');
                        return false;
                    }
                    
                    //Under the Max?
                    if (document.getElementById('astrea_ClonePage:AstreaCloneForm:TitleBlock:CloneTitle:CloneSection:AstreaCloneNumber').value > MAX_CLONES)
                    {
                        alert('{!$Label.ast__number_of_clones_cannot_exceed_100}');   
                        //alert('The number of clones cannot exceed 100.');                                                
                        return false;
                    } 
                    
                    else 
                        return true;
                }
                
                
            </script>
     
    <apex:form id="AstreaCloneForm">
    <apex:actionStatus id="overlayStatus" onStart="showOverlay();" onstop="hideOverlay();"></apex:actionstatus>
    
        <apex:pageMessages ></apex:pageMessages>
        <apex:pageBlock id="TitleBlock" tabStyle="account">     
            <apex:pageblockSection id="CloneTitle" collapsible="false">               
                
                <apex:facet name="header">
                    <apex:outputpanel >
                        <apex:outputText style="font-weight:bold;font-size:12px;float:left;" value="{!$Label.ast__times_you_want_to_clone_object}"/>&nbsp;&nbsp;&nbsp;
                        <apex:image value="/img/alohaSkin/help_orange.png" title="{!$Label.ast__specify_number_of_records}." style="width:15px;height:15px;" />
                    </apex:outputpanel>
                </apex:facet>
                
                <apex:pageBlockSectionItem id="CloneSection">                            
                    <b>{!$Label.Number_of_records}</b>&nbsp;&nbsp;&nbsp;<apex:inputText style="align=left" id="AstreaCloneNumber" value="{!numberofInput}" title="{!$Label.ast__specify_number_of_records}"/> 
                </apex:pageBlockSectionItem>
               
                <apex:pageBlockSectionItem id="CloneSection1" >                            
                    <apex:commandlink value="{!$Label.ast__setrecordsname}" action="{!SetTheAccountNames}" rerender="tstpopup" onclick="SetRecordValue()">
                        <apex:inputHidden id="SetRecord" value="{!SetRecord}"/>
                    </apex:commandlink>
                    <apex:image value="/img/alohaSkin/help_orange.png" title="{!$Label.ast__set_records_name_help}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageBlockSectionItem >
                <b>{!$Label.names_same_as_original}</b>
                <!--<apex:image value="/img/alohaSkin/help_orange.png" title="Make the checkbox true to keep the original name of the records and their related records"/>-->
                &nbsp;&nbsp;&nbsp;<apex:inputCheckbox value="{!ChangeName }" id="checkedone"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:outputPanel id="tstpopup">
            <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
                <apex:outputPanel styleClass="custPopup" layout="block" rendered="{!displayPopUp}">
                    <apex:pageBlock >
                        <b>{!$Label.ast__enter_the_name_of_cloned} {!objectname} {!$Label.ast__record}: </b><br/><br/>
                        <apex:repeat value="{!insertNamesList}" var="it">
                            <table width="50%"><tr>
                                <td width="10%"><apex:outputText value="{!it.NoOfClonedRecords}.  "/></td>
                                <td><apex:inputText value="{!it.AccNewName}"/><br/></td></tr>
                            </table>
                        </apex:repeat>
                    </apex:pageBlock><br/><br/><br/>
                <center>
                    <apex:commandButton value="{!$Label.ast__setrecordsname}" action="{!closePopup}" rerender="tstpopup"/>&nbsp;&nbsp;&nbsp;
                    <apex:commandButton value="{!$Label.ast__cancel}" action="{!closePopupCancel}" rerender="tstpopup"/>
                </center>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <apex:pageBlock id="SpecifyFields" tabStyle="account">
            <font size ="2" color ="red">
            </font><p/>
            <br/>
            <apex:outputPanel id="panel">
            <apex:pageBlockSection id="FieldTitle" collapsible="false"  columns="1">
            
            <apex:facet name="header">
                <apex:outputpanel >
                    <apex:outputText style="font-weight:bold;font-size:12px;float:left;" value="{!$Label.ast__override_existing_field_values} "/>&nbsp;&nbsp;&nbsp;
                    <apex:image value="/img/alohaSkin/help_orange.png" title="{!$Label.ast__override_existing_field_values_help}" style="width:15px;height:15px;" />
                </apex:outputpanel>
            </apex:facet>
           
            <apex:outputPanel id="panel1">
                <table width="100%"  border="2" class="list">
                    <tr class="headerRow">
                        <th width="2%"></th>
                        <th>{!$Label.Select_Fields}</th>
                        <th>{!$Label.Value}</th>
                        <th width="2%"></th>
                    </tr>
                    
                    <tr class="headerRow">
                        <td class="dataRow"> </td> 
                        <td class="dataRow">
                        <apex:actionRegion >
                            <apex:selectList value="{!fieldFilter}" multiselect="false" id="sBox" size="1"  style="width:150px">
                                <apex:selectOptions value="{!ShowRemainingFields}" />
                                <apex:actionSupport event="onchange" action="{!rensection}" status="overlayStatus" rerender="panel"/>
                            </apex:selectList>
                            
                            <apex:outputPanel rendered="{!showDate}">
                                {!$Label.ast__set_todays_date}
                                <apex:inputCheckbox value="{!todayDate}"/> 
                            </apex:outputPanel>
                            
                            <!-- ////////////// Added by Sumit on 22-nov- 2013  ///////////////////////////   -->                          
                            <apex:outputPanel rendered="{!IsChangeOwner}">
                                {!$Label.ast__set_owner_to_all_child}
                                <apex:inputCheckbox value="{!ChangeOwnervalue}"/>                                                        
                            </apex:outputPanel>
                             <!-- ////////////////////////////////////////////////////////////////////////   -->
                            
                        </apex:actionRegion>
                        </td>
                         
                        <td class ="dataRow">
                        <apex:actionRegion >
                            <apex:inputField value="{!obj[currentfield]}"  rendered="{!renField}"></apex:inputField>
                        </apex:actionRegion></td>
                    
                        <td class="dataRow">
                            &nbsp;<apex:commandlink action="{!specifyFields}" rerender="panel" status="overlayStatus">
                                 {!$Label.Add}&nbsp;<!--<apex:image url="{!$Resource.Addline}" title="Add Rule"/>-->
                            </apex:commandlink>&nbsp;
                        </td>
                    </tr>
            
                    <apex:repeat value="{!fwrapList}" var="fw">
                        <tr>
                            <td class="dataRow">
                                &nbsp;<apex:commandLink action="{!deleteQuery}" rerender="parad,panel" status="overlayStatus">
                                    <apex:param name="index" value="{!fw.index}" id="parad"  />
                                    {!$Label.ast__delete}<!--<apex:image value="{!URLFOR($Resource.RemoveItem)}" title="Remove Rule" width="20" />-->
                                </apex:commandLink>&nbsp;
                            </td>
               
                            <td class="dataRow">
                                <apex:selectList value="{!fw.fieldName}" multiselect="false"  size="1"  style="width:150px" disabled="true">
                                    <apex:selectOptions value="{!allfields}"/>                                
                                </apex:selectList> 
                                                               
                            <!--  ///////////////////////////////////////Added By Sumit on Dated 26-11-2013 ////////////////////////////   -->
                                   <apex:outputPanel rendered="{!IF(fw.fieldName=='ownerid' ,true,false)}" >                                 
                                       <apex:outputtext value="{!$Label.ast__set_owner_to_all_child}"/>                               
                                       <apex:inputCheckbox value="{!ChangeOwnervalue}" disabled="true" />  
                                   </apex:outputPanel> 
                           <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////   -->                                                                    
                           </td>
                        
                            <td class="dataRow">
                                <apex:outputField value="{!fw.objWrap[fw.fieldName]}">
                                    <apex:inlineEditSupport />
                                </apex:outputField>
                            </td>
                        </tr>
                    </apex:repeat>
                </table>
            </apex:outputPanel>
            </apex:pageBlockSection>
        </apex:outputPanel> 
        <center>
            <apex:commandButton value="{!$Label.ast__saverule}" onclick="allowRule()" action="{!saveRule}" rendered="{!hideBtn}">
            <apex:inputHidden id="rFlag" value="{!rFlag}"/>
            </apex:commandButton>
        </center><br/>
           
        </apex:pageBlock>
        
        <center>
          <apex:commandButton value="    {!$Label.ast__clone}   " onclick="allowClone()" action="{!cloneobject}">
            <apex:inputHidden id="Flag" value="{!Flag}"/>
          </apex:commandButton>
        </center><br/>
        
        
        <apex:pageBlock id="SelectChildren" tabStyle="account" rendered="{!if(AND(items != null,items.size >0),true,false)}">
            <apex:pageBlockSection id="ChildTitle" collapsible="false" columns="1" showheader="true">
            
            <apex:facet name="header">
                <apex:outputpanel >
                    <apex:outputText style="font-weight:bold;font-size:12px;float:left;" value="{!$Label.ast__select_child_objects_to_clone}"/>&nbsp;&nbsp;&nbsp;
                    <apex:image value="/img/alohaSkin/help_orange.png" title="{!$Label.ast__select_child_objects_to_clone_help}" style="width:15px;height:15px;" />
                </apex:outputpanel>
            </apex:facet>
            
            </apex:pageBlockSection>
                <apex:commandButton id="SelectAll" value="{!$Label.ast__selectall}" rerender="panelId" onclick="CheckAll()" /> 
                <apex:commandButton id="DeselectAll" value="{!$Label.ast__deselectall}" rerender="panelId" onclick="unCheckAll()" />
                <br/>
                 <apex:selectCheckboxes id="SelectedChildList" value="{!relatedObjects}" layout="pageDirection" disabled="false" onclick="OkToSelect(this, true)">
                    <apex:selectOptions value="{!items}"/>
                </apex:selectCheckboxes> 
            
        </apex:pageBlock>
    <div id="overlay"></div>
    </apex:form>
</apex:page>