<apex:page showHeader="false" sidebar="false" cache="false" contentType="text/xml" >
    <block>
    <table table-layout="fixed" width="100%" border-color="#000000" border-width="1px" border-style="solid" font-size="9px">
        <table-body>
        
            
                 <table-row background-color="#DFDFDF">
                    <table-cell  width="100px" border="1px solid black" padding="3pt">
                        <block>TEST</block>
                    </table-cell>
                    <table-cell  width="100px" border="1px solid black" padding="3pt">
                        <block>22222</block>
                    </table-cell>                    
                </table-row>           
            
         
        </table-body>
    </table>
    </block>
</apex:page>