<apex:page standardController="Case" extensions="C_Files_Extension" showChat="False" showHeader="False" sidebar="False" id="filePage"  lightningstylesheets="true">
    <script src="/support/console/41.0/integration.js" type="text/javascript"></script>
    <script type="text/javascript">
        var __sfdcSessionId = '{!GETSESSIONID()}';
    </script>
    <script src="/soap/ajax/45.0/connection.js" type="text/javascript"></script>
    <script src="/soap/ajax/45.0/apex.js" type="text/javascript"></script>

    <apex:includeScript value="{!URLFOR($Resource.TinyMCE, 'jquery-2.1.4.min.js')}" />
    <script type="text/javascript">
        var idMap = new Object();

        function OpenSubtab(recordId, subject, map) {
            //First find the ID of the primary tab to put the new subtab in
            sforce.console.getEnclosingPrimaryTabId(function (result) {
                sforce.console.openSubtab(result.id, '/' + recordId, true, subject, null, function (response) {
                    console.log('response ==> ' + response);
                    if (response.success == false) {
                        sforce.console.focusSubtabById(map[recordId]);
                    } else {
                        map[recordId] = response.id;
                    }
                });
            });
        }

        function onDragF(event) {
            event.stopPropagation();
            event.preventDefault();
            event.dataTransfer.dropEffect = 'copy';
        };

        function onDropF(event) {
            event.stopPropagation();
            event.preventDefault();
            console.log('drop');
            var files = event.dataTransfer.files; // FileList object.
            uploadFileE(files);
        };

        function uploadFileE(filesToUpload) {
            for (var i = 0, f; f = filesToUpload[i]; i++) {
                var reader = new FileReader();

                // Keep a reference to the File in the FileReader so it can be accessed in callbacks
                reader.file = f;

                reader.onload = function(e) {
                    var cv = new sforce.SObject("ContentVersion");
                    cv.ContentLocation = 'S';
                    cv.PathOnClient = this.file.name;
                    cv.Origin = 'H';
                    cv.Title = this.file.name;
                    //cv.ParentId = "{!Case.Id}";

                    var binary = "";
                    var bytes = new Uint8Array(e.target.result);
                    var length = bytes.byteLength;

                    for (var i = 0; i < length; i++) {
                        binary += String.fromCharCode(bytes[i]);
                    }

                    cv.VersionData = (new sforce.Base64Binary(binary)).toString();

                    sforce.connection.create([cv], {
                        onSuccess: function(result, source) {
                            if (result[0].getBoolean("success")) {
                                var newId = result[0].id;
                                console.log("New ContentVersion record created with id " + result[0].id);
                                createNewFile(newId);
                            } else {
                                console.log("Failed to create File " + result[0]);
                            }
                        },
                        onFailure: function(error, source) {
                            console.log("an error has occurred " + error);
                        }
                    });
                };
                reader.readAsArrayBuffer(f);
            }
        }

        function download(){
            var boxes = $( "form :checked" );
            console.log('boxes checked ==>');
            console.log(boxes);
            var urls = [];
            for(i = 0; i < boxes.length; i++){
                urls.push(boxes[i].attributes["data-id"].value+';'+boxes[i].attributes["data-name"].value);
            }
            console.log('urls ==> '+urls);
            doit(urls);
        }

        function preDownload(){
            download();
        }

        var doit = function(files) {
            // Declare function being used to download the files
            function download_next(i) {
                if(i >= files.length) {
                    return;
                }
                console.log('files['+i+'] ==> '+files[i]);
                var src = files[i].split(';');
                console.log('src ==> '+src);
                var data = sforce.apex.execute("CustomDownload","loadAttachment",{att_id:src[0]});
                data = JSON.parse(data);
                console.log('data ==>');
                console.log(data);

                var link = document.createElement('a');
                link.style.display = 'none';
                document.body.appendChild(link);
                link.href = 'data:'+data.contentType+';base64,'+data.base64Value;
                var fileName = src[1];
                const lastDot = fileName.lastIndexOf('.');
                // Add missing file extension as needed
                if (lastDot <= 0) {
                    fileName = fileName + '.' + data.contentType;
                }
                console.log('fileName ==> '+fileName);
                link.download = fileName;
                link.target = "_blank";
                console.log('link ===> '+link);

                link.click();
                document.body.removeChild(link);
                setTimeout(function () { download_next(i + 1); }, 700);
            }
            // Initiate the first download.
            download_next(0);
        }
    </script>

    <apex:outputPanel id="thePanel" layout="block" style="overflow:auto;height:500px" >
        <apex:form id="theForm">
            <div ondragover="onDragF(event)" ondrop="onDropF(event)" id="theDiv">
                <apex:actionFunction action="{!createNewFiles_Stage}" name="createNewFile" reRender="thePanel">
                    <apex:param name="firstParam" assignTo="{!fileID}" value="" />
                </apex:actionFunction>
                <apex:pageBlock id="thePageBlock">
                    <apex:pageMessages ></apex:pageMessages>
                    <apex:pageBlockButtons >
                        <apex:commandButton value="Download Selected" onclick="download()" rerender="fileTable"/>
                        <apex:commandButton value="Send to Parent" action="{!cloneFiles}" onclick="if(!confirm('Clone Selected Files?')){return;}"/>
                        <apex:commandButton value="Delete Selected" action="{!deleteFiles}" onclick="if(!confirm('Delete Selected Files?')){return;}" rerender="fileTable"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockTable value="{!theWrappers}" var="wrapper" title="Files" id="fileTable">
                        <apex:column width="5%">
                            <apex:facet name="header">Select</apex:facet>
                            <apex:inputCheckbox value="{!wrapper.cBox}" html-data-id="{!wrapper.sfdcFile.Id}" html-data-name="{!wrapper.sfdcFile.Title}"/>
                        </apex:column>
                        <apex:column width="30%">
                            <apex:facet name="header">Name</apex:facet>
                            <apex:outputLink onClick="OpenSubtab('{!wrapper.sfdcFile.Id}','{!JSENCODE(wrapper.sfdcFile.Title)}', idMap);return false" value="/{!wrapper.sfdcFile.Id}">{!wrapper.sfdcFile.Title}</apex:outputLink>
                        </apex:column>
                        <apex:column width="40%">
                            <apex:facet name="header">Description</apex:facet>
                            <apex:outputText value="{!wrapper.sfdcFile.Description}"/>
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">Created Date</apex:facet>
                            <apex:outputText value="{0, date, MM'/'dd'/'yyyy}">
                                <apex:param value="{!wrapper.sfdcFile.CreatedDate}"/>
                            </apex:outputText>
                        </apex:column>
                    </apex:pageBlockTable>
                </apex:pageBlock>
            </div>
        </apex:form>
    </apex:outputPanel>
    <apex:outputPanel rendered="false">
        {!Case.ParentId}
    </apex:outputPanel>
</apex:page>