<apex:page standardController="Case">

    <apex:stylesheet value="{!URLFOR($Resource.important_item)}"/>
        <apex:outputPanel rendered="{!IF(NOT(ISBLANK(Case.HIDDEN_Case_Number_For_Internal_Case__c)),TRUE, FALSE)}">
        
            <div class="important_item_error">
            <strong>NOTE:</strong>&nbsp;&nbsp;This record was created from the following Action Item:&nbsp;
            <strong><apex:outputText value="{!case.HIDDEN_Case_Number_for_AI_Record_for_IC__r.CaseNumber}"/></strong>
            &nbsp;The Parent Case of this Action Item is:&nbsp;
            <strong><apex:outputText value="{!case.HIDDEN_Case_Number_For_Internal_Case__r.CaseNumber}"/></strong>
            
            
            </div>
        </apex:outputPanel>
        
</apex:page>