<apex:page standardController="Account" extensions="ensxapp.CTRL_Account_Lightning_Wrapper">
    <apex:includeLightning />

    <div id="cmp" />

    <script>
    $Lightning.use('{!JSENCODE(namespace)}:CMP_App_Company_Info_Dependencies', function() {
        $Lightning.createComponent(
            '{!JSENCODE(namespace)}:CMP_Company_Info',
            {
                recordId: '{!JSENCODE(accountId)}'
            },
            'cmp',
            null
        );
    })
    </script>
</apex:page>