<apex:page controller="EsaverOutbound_Ctrl" action="{!doRedirect}" sideBar="false" showHeader="false" standardStylesheets="false" lightningStylesheets="true">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <apex:pageMessages />

    <script type="text/javascript">
/*
        Visualforce.remoting.timeout = 120000;
        var quoteId = getURLParameter('Id') || '';

        function getPostData() {

            Visualforce.remoting.Manager.invokeAction(
                '!{$RemoteAction.EsaverOutbound_Ctrl.fetchPostData}',
                quoteId,
                handleResult
            );
        }

        function handleResult(result, event) {

            if(event.statusCode === 200){

                //post into Esaver with result as the data
                sendDataToEsaver(result);

                // use this for generating mock response to give to Vervocity
                console.dir(JSON.stringify(result));
            }
        }

        function sendDataToEsaver(data){

            $.ajax({
                type: "POST",
                url: 'url',
                data: data,
                success: doRedirect
                error: handleError
            });
        }

        function getURLParameter(sParam){

            let sPageURL = window.location.search.substring(1);
            let sURLVariables = sPageURL.split('&');

            for ( let i = 0; i < sURLVariables.length; i++){

                let sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] == sParam){
                    return sParameterName[1];
                }
            }
        }

        $(document).ready(function(){
            getPostData();
        });
*/
    </script>
</apex:page>