<apex:page standardController="Machine_Startup_Form__c" standardStylesheets="false" sidebar="false" showHeader="false">
    <apex:slds />
    
    <div class="slds-text-body_regular">The quick brown fox jumps over the lazy dog.</div>

</apex:page>