<apex:page docType="html-5.0" title="Order Detail" showHeader="false" sidebar="false" standardStylesheets="false"
    controller="CTRL_OrderDetail" id="pagediv" lightningStylesheets="true">

    <apex:slds rendered="{!!isClassic}"/>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"/>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"/>
    <apex:includeScript value="{!URLFOR($Resource.enosix, 'js/jqdates.js')}"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
    <style>
        body .pbBody table.list tr th {
            padding: 5px 2px 4px 5px;
            border-width: 0 0 1px 1px;
            border-color: #e0e3e5;
        }
        form {
            padding: 15px;
        }
    </style>
    <c:CMP_Header />

    <apex:form id="formdiv">
        <c:CMP_Status />

        <apex:outputPanel rendered="{!!isClassic}">
            <div class="slds-page-header">
                <div class="slds-grid">
                    <div class="slds-col slds-has-flexi-truncate" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <div class="slds-media slds-no-space slds-grow">
                            <div class="slds-media__figure">
                                <span class="slds-icon_container slds-icon-standard-account">
                                    <svg class="slds-icon slds-icon-standard-user .slds-icon_small" aria-hidden="true">
                                        <use xlink:href="{!URLFOR($Asset.SLDS, 'assets/icons/standard-sprite/svg/symbols.svg#record')}"></use>
                                    </svg>
                                </span>
                            </div>
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title"><span class="slds-text-heading_small">Order Number:</span><br/>
                                    <span class="slds-text-heading_large"><apex:outputText value="{!orderDetail.SalesDocument}" label="Order Number:"/> </span></h2>
                                
                            </div>
                            <!--<apex:commandButton action="{!accountDetailPage}" value="Back to Account" />-->
                        </div>
                    </div>
                </div>
            </div>
        </apex:outputPanel>
        <apex:pageBlock title="No SAP Order Detail Information Available." id="missDiv"
                        rendered="{! null == orderDetail}">
            <apex:outputText >
                There is no SAP Order Detail Information available. Please create one prior to coming to this page.
            </apex:outputText>
            <br/>
            <apex:actionFunction name="gotoop" action="{!goToOpportunityPage}" reRender="pagediv" status="status"/>
            <apex:commandButton rendered="{!opportunityID != null}" value="Back to Opportunity" onclick="gotoop();return false;"/>
            <br/>
            <apex:actionFunction name="gotoorder" action="{!goToCreateOrderPage}" reRender="pagediv" status="status"/>
            <apex:commandButton rendered="{!opportunityID != null}" value="Create Order" onclick="gotoorder(); return false;"/>
        </apex:pageBlock>
        <apex:pageBlock title="SAP Order Detail" id="pbdiv" rendered="{! null != orderDetail}">
            <apex:pageMessages id="messagediv"/>
            <apex:variable var="sale" value="{!orderDetail.Sales}"/>
            <apex:variable var="ship" value="{!orderDetail.Shipping}"/>

            <apex:pageBlockSection columns="2" collapsible="true" id="pbsdiv" title="">

                <apex:outputText value="{!orderDetail.SalesDocument}" label="Order Number:"/>
                
                <apex:outputText value="{0,date,MM/dd/yyyy}" label="Create Date:">
                    <apex:param value="{!sale.CreateDate}"/>
                </apex:outputText>

                <apex:outputText value="{!sale.SalesDocumentTypeDescription}" label="Order Type:"/>

                <apex:outputText value="{0,date,MM/dd/yyyy}" label="Delivery Date:">
                    <apex:param value="{!sale.RequestedDeliveryDate}"/>
                </apex:outputText>
                
                <apex:outputText value="{!orderDetail.CustomerPurchaseOrderNumber}" label="Customer PO:"/>
                <apex:outputText value="{0,date,MM/dd/yyyy}" label="PO Date:">
                    <apex:param value="{!orderDetail.ORDERDATA.CustomerPurchaseOrderDate}"/>
                </apex:outputText>

                <apex:outputText value="{1,number,###,##0.00} {0}" label="Net Order Value:">
                    <apex:param value="{!orderDetail.SalesDocumentCurrency}"/>
                     <apex:param value="{!orderDetail.NetOrderValue}"/>
                </apex:outputText>

                <apex:outputText value="{1,number,###,##0.00} {0}" label="Tax:">
                
                <apex:param value="{!orderDetail.SalesDocumentCurrency}"/>
                <apex:param value="{!orderDetail.TaxAmount}"/>
                </apex:outputText>
                
                
                <apex:outputText value="{!orderDetail.STATUS.OverallStatusDescription}" label="Overall Status:"/>

                <!-- removed by njh <apex:outputText value="{!orderDetail.SALES.BillingBlock}" label="Billing Blocked:"/>
                <apex:outputText value="{!orderDetail.SALES.BillingBlockDescription}"
                                 label="Billing Block Description:"/> -->

                <!-- removed by njh<apex:outputText value="{!orderDetail.SALES.DeliveryBlock}" label="Delivery Blocked:"/>
                <apex:outputText value="{!orderDetail.SALES.DeliveryBlockDescription}"
                                 label="Delivery Block Description:"/> -->

            </apex:pageBlockSection>

            <!--<apex:pageBlockSection columns="1" collapsible="true" id="orderStatus" title="">-->
                
                <!-- removed by njh<apex:outputText value="{!orderDetail.STATUS.RejectionStatusDescription}" label="Rejection Status:"/> -->
                <!-- removed by njh<apex:outputText value="{!orderDetail.STATUS.CreditStatusDescription}" label="Credit Hold Status:"/> -->
                <!-- removed by njh<apex:outputText value="{!orderDetail.STATUS.DataCompleteDescription}" label="Data Complete Status:"/> -->
                <!-- removed by njh<apex:outputText value="{0} - {1}" label="Shipping Condition:">
                    <apex:param value="{!orderDetail.SHIPPING.ShippingConditions}"/>
                    <apex:param value="{!orderDetail.SHIPPING.ShippingConditionsDescription}"/>
                </apex:outputText> -->
           <!-- </apex:pageBlockSection>-->
            <!-- removed by njh <apex:pageBlockSection columns="1" collapsible="true" title="Partners"> -->
                <!--
                <apex:actionFunction action="{!gotoCustomerPage}" name="gotoCustomerPage" reRender="page">
                    <apex:param name="selectedCustomerId" value=""/>
                </apex:actionFunction>
                -->

                <!-- removed by njh <apex:pageblockTable value="{!Partners}" var="partner" style="table-layout: initial"> -->
                    <!--
                    <apex:column headerValue="Action" width="10%">
                        <apex:commandButton onclick="gotoCustomerPage('{!partner.CustomerNumber}');return false;"
                                            value="Customer Detail" rendered="{!partner.CustomerNumber != null && partner.CustomerNumber != ''}"/>
                    </apex:column>
                    -->
                    <!-- removed by njh<apex:column headerValue="Function" value="{!partner.PartnerFunctionName}"/> -->
                    <!-- removed by njh<apex:column headerValue="CustomerNumber" value="{!partner.CustomerNumber}"/> -->
                    <!-- removed by njh<apex:column headerValue="Vendor" value="{!partner.Vendor}"/> -->
                    <!-- removed by njh<apex:column headerValue="Personnel Number" value="{!partner.PersonnelNumber}"/> -->
                    <!-- removed by njh<apex:column headerValue="Contact Person Number" value="{!partner.ContactPersonNumber}"/> -->
                    <!-- removed by njh<apex:column headerValue="Name" value="{!partner.PartnerName}"/> -->
                    <!-- removed by njh<apex:column headerValue="Street" value="{!partner.Street}"/> -->
                    <!-- removed by njh<apex:column headerValue="City" value="{!partner.City}"/> -->
                    <!-- removed by njh<apex:column headerValue="Region" value="{!partner.Region}"/> -->
                    <!-- removed by njh<apex:column headerValue="Postal Code" value="{!partner.PostalCode}"/> -->
                <!-- removed by njh</apex:pageblockTable> 
            </apex:pageBlockSection> -->

            <apex:pageBlockSection columns="1" collapsible="true" title="">

                <!--
                <apex:actionFunction id="itemdetail" action="{!ItemDetailPage}" name="itemdetail" rerender="formdiv"
                                     status="status">
                    <apex:param name="itemnumber" value=""/>
                </apex:actionFunction>
                -->

                <apex:pageblockTable value="{!Items}" var="material" style="table-layout: initial">
                    <!--
                    <apex:column headerValue="Action">
                        <apex:commandButton onclick="itemdetail('{!material.item.ItemNumber}');return false;"
                                value="Item Detail"/>
                    </apex:column>
                    <apex:column headerValue="">
                        <apex:outputText value="{! IF( material.item.ItemNumber == SelectedItem.ItemNumber, '↠','') }">
                        </apex:outputText>
                    </apex:column>
                    -->
                    <apex:column headerValue="Item Number" value="{!material.item.ItemNumber}"/>
                    <!-- <apex:column headerValue="Material" >
                            removed by njh <apex:outputLink value="javascript:showMaterialDetailPopUp('{!material.item.Material}');">
                            {!material.item.Material}
                        </apex:outputLink> 
                    </apex:column> -->
                    <apex:column headerValue="Material" >
                            <apex:outputText value="{!material.item.Material}">
                            </apex:outputText> 
                    </apex:column>
                    <apex:column headerValue="Material Desc" value="{!material.item.ItemDescription}"/>
                    <apex:column headerValue="Qty" value="{!material.item.OrderQuantity}"/>
                    <!-- removed by njh<apex:column headerValue="UOM" value="{!material.item.BaseUnitOfMeasure}"/> -->
                    <apex:column headerValue="Unit Price">
                        <apex:outputText value="{1,number,###,##0.00} {0}">
                            <apex:param value="{!material.item.SalesDocumentCurrency}"/>
                            <apex:param value="{!material.item.NetItemPrice}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Net Total" >
                            <apex:outputText value="{1,number,###,##0.00} {0}">
                            <apex:param value="{!material.item.SalesDocumentCurrency}"/>
                                <apex:param value="{!material.item.NetOrderValue}"/>
                            </apex:outputText>
                        </apex:column>
                    <apex:column headerValue="Plant" value="{!material.item.PlantName}"/>
                    <apex:column headerValue="Requested Ship">
                        <apex:outputText value="{0}">
                            <apex:param value="{!material.FormattedScheduleLineDate}"/> <!--{!material.FormattedScheduleLineDate}-->
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Estimated Ship Date">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                            <apex:param value="{!material.maxItemSchedule.ScheduleLineDate}"/>
                        </apex:outputText>
                    </apex:column>
                    <!-- removed by njh<apex:column headerValue="Item Cat">
                        <apex:outputText value="{0} {1}">
                            <apex:param value="{!material.item.ItemCategory}"/>
                            <apex:param value="{!material.item.ItemCategoryDescription}"/>
                        </apex:outputText>
                    </apex:column> -->

                    <!-- removed by njh<apex:column headerValue="Billing Block">
                        <apex:outputText value="{! IF(material.item.BillingBlockStatus == '','Not Blocked',material.item.BillingBlockStatus) }"/>
                    </apex:column> -->
                    <!-- removed by njh<apex:column headerValue="Delivery Block">
                        <apex:outputText value="{!IF(material.item.DeliveryBlockStatus == '','Not Blocked',material.item.DeliveryBlockStatus)}"/>
                    </apex:column> -->

                    <!--<apex:column headerValue="Free Freight">
                        <apex:outputText value="{!material.item.CustomerConditionGroup1Description}"/>
                    </apex:column>-->
                    <!-- removed by njh<apex:column headerValue="Discount">
                        <apex:outputText value="{!material.item.CustomerConditionGroup2Description}"/>
                    </apex:column> -->
                </apex:pageblockTable>

            </apex:pageBlockSection>

            <div id="divlMaterialDetail" title="Material Description" style="display:none;">
                <iframe id="ifrmMaterialDetail" width="100%" height="410px"></iframe>
            </div>

             <apex:pageBlockButtons >
                
                <c:CMP_NavButtons docNum="{!orderDetail.SalesDocument}" isClassic="{!isClassic}"/>
                
                <!--<apex:commandButton value="Back To Search" action="{!goToOrderSearch}" rerender="mainform" status="status"/>-->
                <!--<apex:commandButton action="{!updateOrder}" value="Update Order" reRender="mainform" status="status" />-->
                <!--<apex:commandButton action="{!goToCloneOrderPage}" value="Clone Order" reRender="mainform" status="status" />-->
            </apex:pageBlockButtons>
        </apex:pageBlock>

        <apex:pageBlock title="Item Detail" rendered="{! null != SelectedItem }">
            <apex:pageBlockSection columns="2" collapsible="true" title="Item Header">

                <apex:outputText value="{!SelectedItem.ItemNumber}" label="Item Number:"/>
                <apex:pageBlockSectionItem />

                <apex:outputText value="{!SelectedItem.Material}" label="Material:"/>
                <apex:outputText value="{!SelectedItem.ItemDescription}" label="Description:"/>

                <apex:outputText value="{!SelectedItem.OrderQuantity}" label="Qty:"/>
                <apex:outputText value="{!SelectedItem.BaseUnitOfMeasure}" label="UCOM:"/>

                <apex:outputText value="{1,number,###,##0.00} {0}" label="Price Per:">
                    <apex:param value="{!SelectedItem.SalesDocumentCurrency}"/>
                    <apex:param value="{!SelectedItem.NetItemPrice}"/>
                </apex:outputText>
                <apex:outputText value="{!SelectedItem.Plant}" label="Plant:"/>

                <apex:outputText value="{1,number,###,##0.00} {0}" label="Total:">
                    <apex:param value="{!SelectedItem.SalesDocumentCurrency}"/>
                    <apex:param value="{!SelectedItem.NetOrderValue}"/>
                </apex:outputText>
                <apex:outputText value="{!SelectedItem.ItemCategory}" label="Item Cat:"/>

                <apex:outputText value="{!SelectedItem.BillingBlockStatusDescription}" label="Billing Block:"/>

                <apex:outputText value="{!SelectedItem.DeliveryBlockDescription}" label="Delivery Block:"/>

                <apex:outputText value="{!SelectedItem.Route}" label="Route:"/>

                <apex:pageBlockSectionItem />

                <apex:outputText label="Free Freight:" value="{!SelectedItem.CustomerConditionGroup1Description}"/>

                <apex:outputText label="Discount:" value="{!SelectedItem.CustomerConditionGroup2Description}"/>

            </apex:pageBlockSection>

            <apex:pageBlockSection columns="1" collapsible="true" title="Schedule Lines">
                <apex:pageblockTable value="{!SelectedItemSchedule}" var="schedule" style="table-layout: initial">
                    <!--  <apex:column headerValue="ItemNumber" value="{!s.ItemNumber}"/> -->
                    <apex:column headerValue="Schedule Line Number" value="{!schedule.ScheduleLineNumber}"/>
                    <apex:column headerValue="Schedule Line Date">
                        <apex:outputText value="{0,date,MM/dd/yyyy}">
                            <apex:param value="{!schedule.ScheduleLineDate}"/>
                        </apex:outputText>
                    </apex:column>
                    <apex:column headerValue="Ordered Quantity" value="{!schedule.OrderQuantity}"/>
                    <apex:column headerValue="Confirmed Quantity" value="{!schedule.ConfirmedQuantity}"/>
                    <apex:column headerValue="Description" value="{!schedule.ScheduleLineCategoryDescription}"/>
                </apex:pageblockTable>
            </apex:pageBlockSection>

            <apex:pageBlockSection columns="1" collapsible="true" title="Pricing Conditions" rendered="false">
                <apex:pageblockTable value="{!SelectedConditions}" var="condition" style="table-layout: initial">
                    <!--  <apex:column headerValue="ItemNumber" value="{!s.ItemNumber}"/> -->
                    <apex:column headerValue="Type" value="{!condition.ConditionType}" width="10%"/>
                    <apex:column headerValue="Name" value="{!condition.ConditionTypeName}"/>
                    <apex:column headerValue="Rate">
                        <apex:outputText value="{0,number,###,##0.00} {1}">
                            <apex:param value="{!condition.Rate}"/>
                            <apex:param value="{!condition.RateUnit}"/>
                        </apex:outputText>
                    </apex:column>

                    <apex:column headerValue="Value">
                        <apex:outputText value="{0,number,###,##0.00} {1}">
                            <apex:param value="{!condition.ConditionValue}"/>
                            <apex:param value="{!condition.CurrencyKey}"/>
                        </apex:outputText>
                    </apex:column>
                </apex:pageblockTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
    <!--<c:CMP_Footer />-->
    <script type="text/javascript">
        function showMaterialDetailPopUp(materialId) {
            var baseUrl = 'https://' + location.host + '{!pathMaterialDetail}'
            var queryString = '?SF_MatId=' + materialId + '&isPopUp=true';

           $("#ifrmMaterialDetail").attr('src', baseUrl + queryString);
           $("#divlMaterialDetail").dialog({
                modal: true,
                position: {my: 'top', at: 'top+10%'},
                height: 'auto',
                width: '500px',
                open: function(event, ui) {
                    $('.ui-widget-overlay').bind('click', function() {
                        $(this).siblings('.ui-dialog').find('.ui-dialog-content').dialog('close');
                    });
                }
            });
        }
    </script>
</apex:page>