.THIS {
    min-height: initial;
    margin-bottom:1%;
}
.THIS .head{
    min-height:5vh;
    height:10%!important;
    width:100%;
    background:#f0f2f7;
}
.THIS .foot{
    min-height:10vh;
    height:10%!important;
    width:100%;
    background: #f7f9fb;
}
.THIS .bodyHeight{
    min-height:50vh;
    max-height:60vh;
    overflow-y:scroll;
    background-color:#ffffff;
}
.THIS .bodyContent{
    min-height:50vh;
    overflow-y:scroll;
}
.THIS .leftGreyBorder{
    border-left: 2px solid #f0f2f7;
}
.THIS .rightGreyBorder{
    border-right: 2px solid #f0f2f7;
}
.THIS .topGreyBorder{
    border-top: 2px solid #f0f2f7;
}
.THIS .bottomGreyBorder{
    border-bottom: 2px solid #f0f2f7;
}
.THIS .ensx-spinner{
    z-index: 999;
    position: absolute;
    margin-left: 45%;
    margin-top: 18%;
    transform: scale(1.5);
}

.THIS .labelSpaced > label{
    margin:5px;
}

.THIS .scaledSelect{
    transform: scale(.85);
}

.THIS .collapsableWrapper{
    margin-left:0.5%;
}

.THIS .hierarchyContainer{
    height: 40vh!important;
    max-height: 60vh!important;
    overflow-y: scroll;
    border: 3px solid #f0f2f7;
}