.THIS {
}

.THIS .customIcon div{
    vertical-align: top !important;
}
 
.THIS.customIcon div{
    vertical-align: top !important;
}

.THIS .required {
    color: red;
}

.THIS .page-title {
    font-size: 20px;
    font-weight: bold;
}

.THIS .section-header {
    font-size: 18px;
    font-weight: bold;
}

.THIS .claim-info {
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.THIS .claim-info-label {
    font-weight: bold;
    margin-right: 5px;
}

.THIS .claim-info-answer {
    margin-left:15px;
}