<!-- File Upload At Checkout -->
<template>
    <lightning-spinner alternative-text="Loading" size="medium" if:true={showSpinner}></lightning-spinner>
    <div class="slds-form-element" if:true={showUploadComponent}>
        <div class="slds-form-element__control">
            <div class="slds-file-selector slds-file-selector_images">
                <div class="slds-file-selector__dropzone" ondrop={dropped} ondragover={allowDrop}>
                    <div class="slds-grid slds-grid_vertical">
                        <div class="slds-col slds-align_absolute-center">
                            <svg xmlns="http://www.w3.org/2000/svg" height="90" width="90" viewBox="0 0 640 512"><path fill="#6f727b" d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"/></svg>
                        </div>
                        <div class="slds-col slds-align_absolute-center">
                            {labels.Drag_and_drop_a_file}
                        </div>
                        <input type="file" class="slds-file-selector__input slds-assistive-text" accept=".pdf,.png,.jpeg" id="file-upload-input-103" onchange={openfileUpload} />
                        <label class="slds-file-selector__body" for="file-upload-input-103" id="file-selector-secondary-label102">
                        <span class="slds-file-selector__button slds-button slds-button_neutral">
                        <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                        <use xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#attach"></use>
                        </svg>Browse</span>
                            <template if:true={fileData}>
                                <p>{fileData.filename}</p>
                            </template>
                            <template if:true={fileUploaded}>
                                <p>{fileUploadedSuccessMessage}</p>
                            </template>
                            <span class="slds-file-selector__text slds-medium-show textstyle">{labels.Supported_formats}</span>
                            <span class="slds-file-selector__text slds-medium-show textstyle">{labels.Maximum_file_size}</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <label if:true={showError} class="slds-text-color_error">
        {error}
    </label>
</template>