<template>
<lightning-card title="Select Bill To Account" icon-name="standard:account" >
    
    <div style="width: auto;">
        
            <lightning-input type="search" onchange={onSearch}  class = "slds-m-bottom_small" label = "Search"> </lightning-input>
            <template if:false={isSearch}>
            <lightning-datatable data={records2}
                                    columns={columns}
                                    key-field="id"
                                    sorted-by={sortBy}
                                    sorted-direction={sortDirection}
                                    onsort={doSorting}
                                    max-row-selection='1'
                                    onrowselection={handleRowSelection} 
                                    ></lightning-datatable>
                 
            </template>
            <template if:true={isSearch}>
                <template if:true={records1}>
                <lightning-datatable data={records1}
                                        columns={columns}
                                        key-field="id"
                                        sorted-by={sortBy}
                                        sorted-direction={sortDirection}
                                        onsort={doSorting}
                                        max-row-selection='1'
                                        onrowselection={handleRowSelection} 
                                        ></lightning-datatable>
                             
                </template>
            </template>
           
                <lightning-button
                                    
                label="Update"
                disabled={isNotSelected}
                title="Update"
                variant="brand"
                onclick={handleUpdate}>
                </lightning-button>
            

    </div>
</lightning-card>

</template>