.THIS {

}
.THIS .bodyHeight{
    min-height:50vh;
    max-height:60vh;
    overflow-y:scroll;
    background-color:#ffffff;
}
.THIS .bodyContent
{
    margin-left: 1%;
}
.THIS .fullBodied{
    width: 100vw!important;
    height:100vh!important;
}
.THIS .foot{
    min-height:10vh;
    height:10%!important;
    width:100%;
    background: #f7f9fb;
}