<template>
<template if:true={create}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
<div class="slds-modal__container" >
    <lightning-card class="slds-align_absolute-center"   >
        <lightning-record-edit-form
        object-api-name="SFS_Location_Skill_Requirement__c"
        
        record-id={recordId}
        onload={handleOnCreateLoad}
        onsubmit={handleOnSubmit}
        onsuccess={handleOnSuccess}
        onerror={handleOnError} 
        data-id="createForm">
        <header class="slds-modal__header">
          
            <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Location Skill Requirement</h2>
        </header>
        <div class="slds-grid slds-wrap" >
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-output-field field-name="Name" value={Name}></lightning-output-field>
            </div>
            <template if:true={curPageRef}>
                <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium" >   
                    <lightning-input-field field-name="Location__c" value={locationId} ></lightning-input-field>
                </div> 
                </template>  
                <template if:false={curPageRef}>
                <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium" >   
                    <lightning-input-field field-name="Location__c" value={locationId} onchange={locationChange}></lightning-input-field>
                </div> 
                </template>  
           
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="CurrencyIsoCode"></lightning-input-field>
            </div>
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="OwnerId"></lightning-input-field>
            </div>
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium ">  
                <c-s-f-s-_-custom-lookup-comp_-l-w-c lookup-label="Skill" object-api-name="Skill" icon-name="standard:skill"
                  onrecordselection={onskillSelection}></c-s-f-s-_-custom-lookup-comp_-l-w-c >  
            </div>
            <div class="slds-hidden slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="Skill__c" ></lightning-input-field>
            </div>
            <div class="slds-hidden slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="Skill_Id__c" ></lightning-input-field>
            </div> 
              
        </div>
        <footer class="slds-modal__footer">
        <div class="slds-var-m-top_small slds-align_absolute-center" >
            <lightning-button class="slds-var-m-top_small" variant="destructive" type="submit" label="Save"  ></lightning-button>
            <lightning-button class="slds-var-m-top_small slds-var-p-left_xx-small"  variant="destructive-text" type="cancel"  label="Cancel" onclick={handleCreateCancel}></lightning-button>
            
        </div>
        </footer>
        </lightning-record-edit-form>
    </lightning-card>

</div>
</section>
<div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>


<template if:true={edit}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open"> 
<div class="slds-modal__container">
    <lightning-card class="slds-align_absolute-center">
        <lightning-record-edit-form
        object-api-name="SFS_Location_Skill_Requirement__c"
        record-id={recordId}
        onload={handleOnLoad}
        onsubmit={handleOnEditSubmit}
        onsuccess={handleOnEditSuccess}
        onerror={handleOnError}
        data-id="editForm" >
        <header class="slds-modal__header">
            <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Edit Location Skill Requirement</h2>
        </header>
        <div class="slds-grid slds-wrap" >
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-output-field field-name="Name" value={Name}></lightning-output-field>
            </div>
           
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium" >   
                <lightning-output-field field-name="Location__c"  ></lightning-output-field>
            </div>   
            
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-output-field field-name="CurrencyIsoCode"></lightning-output-field>
            </div>
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="OwnerId"></lightning-input-field>
            </div>
            <div class="slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">  
                <c-s-f-s-_-custom-lookup-comp_-l-w-c lookup-label="Skill" object-api-name="Skill"  selected-value ={skilName} selected-record-id ={skillId}  icon-name="standard:skill"
                  onrecordselection={onskillSelection}></c-s-f-s-_-custom-lookup-comp_-l-w-c >  
            </div> 
            <div class="slds-hidden slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium" >
                <lightning-input-field field-name="Skill__c" ></lightning-input-field>
            </div>
            <div class="slds-hidden slds-col slds-size_6-of-12 slds-p-horizontal--medium slds-m-bottom--medium">
                <lightning-input-field field-name="Skill_Id__c" ></lightning-input-field>
            </div> 
            
              
        </div>
        <footer class="slds-modal__footer">
        <div class="slds-var-m-top_small slds-align_absolute-center" >
            <lightning-button class="slds-var-m-top_small" variant="destructive" type="submit" label="Save" onclick={onClickSave}  ></lightning-button>
            <lightning-button class="slds-var-m-top_small slds-var-p-left_xx-small"  variant="destructive-text" type="cancel"  label="Cancel" onclick={handleEditCancel}></lightning-button>
            
        </div>
        </footer>
        </lightning-record-edit-form>
    </lightning-card>
    
</div>
</section>
<div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>
</template>